
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
  <header>
    <center>
        <h3>VIAJES</h3>
        <h1>Destino Feliz (;</h1>
    </center>
</header>  
</body>
</html>
