<center><div class="contenedor" style="height: 800 px; width: 800px; background-color:cornflowerblue;">
    <footer>
      
        <p>&copy;Margarita Trejo Tirado - 31 de febrero 2023</p>
    
      </footer> 
    </div>
</center>
