<!DOCTYPE html>
<html lang="en">

    <body >
        <center>
            <div class="contenedor" style="height: 800 px; width: 800px; background-color:cornflowerblue;">
    <%-include('partials/encabezado.html');%>


            <div class="">

                <form action="/formulario" method="post">
                    
                    <label for="" >Numero de boleto </label>
                    
                    <input type="numer"  name="valor" id="=valor" required="true">
                    <br>
                    <label for="">Destino</label>
                    <input type="text" name="destino" id="destino" required="true">
                    <br>
                    <label for="">Nombre de cliente</label>
                    <input type="text" name="nombre" id="nombre" required="true">
                    <br>
                    <label for="">Años cumplidos</label>
                    <input type="number" name="anos" id="anos" required="true">
                    <br>
                    <label for="">Tipo de viaje: </label>
                    <select name="tipoViaje" id="tipoViaje">
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>
                    </select>
                    <br />
                    <label for="precio">Precio : </label>
                    <input type="number" name="precio" id="precio">
                    <hr style="width: 500px; color: rgb(215, 255, 242);">
                    <button type="submit">CALCULAR</button>
                    <button>LIMPIAR</button>
                    <br>
                    <br>


        </center>

        <% let pSubtotal=precio; let pImpuesto=0; let pDescuento=0; let pTotal=0; if(tipoViaje==2){
            precio=Number(precio) + (Number(precio)*0.80); pSubtotal=precio; } pImpuesto=pSubtotal * 0.16; if(anos>=
            60){
            pDescuento= Number(precio) * 0.50;
            pImpuesto= pDescuento * 0.16;
            }
            pTotal = (precio - pDescuento) + pImpuesto;

            %>
            <center>
                <div style="width: 800px; background-color:cornflowerblue;">
                    <label for="">Subtotal</label>
                    <input value="<%=pSubtotal%>"></input>
                    <br>
                    <label for="impuesto">Impuesto 16%</label>
                    <input value="<%=pImpuesto%>"> </input>
                    <br>
                    <label for="descuento">Descuento</label>
                    <input value="<%=pDescuento%>"> </input>
                    <br>
                    <label for="total">Total a pagar</label>
                    <input value="<%=pTotal%>"></input>
                    
                </div>
            </center>
            </form>
            
            </div>
            
        
            </center>

            <%-include('partials/piePagina.html');%>
</div>
    </body>

</html>